*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif ;
    text-decoration: none;
    list-style: none;
}

/* Size Fonts */

p {
    margin-top: 0.1em;
    font-size: 16px;
    line-height: 1.4;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 12%;
    background: rgba(5, 115, 241, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font: size 25px; 
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}


.logo:hover{
    color: rgb(252, 255, 255);
    text-shadow:0.0 25px rgb(250, 250, 250),
                0.0 50px rgb(247, 250, 250); 
    transform: scale(1.1);
}

span{
    color: rgb(244, 247, 247);
}

.navbar a{
font-size: 18px;
color: rgb(248, 248, 248);
font-weight: 500;
margin:0 20px;
border-bottom:3px solid transparent ;
transition: 0.3 ease;
}

.navbar a:hover,
.navbar a.active{
    color: rgb(166, 203, 245);
    border-bottom: 3px solid rgb(166, 203, 245)
}

.Contact{
    padding: 10px 20px;
    background-color: white;
    color: rgb(83, 156, 240);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3 ease;
}

.Contact:hover{
    background-color: rgb(166, 203, 245);
    color:white;
    box-shadow: 0 0 25px rgb(166, 203, 245);

}

.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(252, 255, 255);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.home-descript{
    max-width: 800px;
}

.home-content h3{
    font-size: 42px;
}

.home-content h1{
    font-size: 62px;
}
.home-content p{
    font-size:18px ;
    margin: 25px 0 30px;
}



.img-box img{
    border-radius: 50%;
    width: 550px;
    margin-right: 20px;
}

::-webkit-scrollbar{
    width:15px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(5, 115, 241, 0.8);
}

::-webkit-scrollbar-track{
    background-color: black;
    width: 50px;
}

.projects-section{
    width:100%;
    padding: 50px;
    background: white;
}

.project-title{
    text-align:center;
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.projects-container {
    display: flex;              
    justify-content: center;    
    align-items: flex-start;    
    gap: 50px;                  
    flex-wrap: wrap;            
    margin-top: 20px;
}

.project-card{
    width: 400px;
    background: white;
    border-radius:12px ;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgb(0, 0,0,0.1);
    transition:0.3 ease;
    cursor: pointer;
}

.project-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.project-info{
    padding: 15px;
}

.projject-info h3{
    font-size:1.2rem;
    margin-bottom: 5px;
}

.project-info p{
    font-size: 0.9rem;
    color: rgba(5, 115, 241, 0.8);
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow: 0px 8px 20px rgba(5, 115, 241, 0.8);
}

.lightbox{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(248, 248, 248, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    
}

.lightbox img{
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255,0.3);
    animation: fadeI 0.3 ease;
}
@keyframes fadeIn {
      from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}


/* Education */
.education-section {
    padding-top: 100px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    font-family: Arial, sans-serif;
}

.timeline-title {
    font-size: 2em;
    margin-bottom: 30px;
}

.timeline-item {
    background: rgb(214, 220, 227);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.timeline-item h3 {
    margin: 0 0 5px;
}

.timeline-item span {
    font-size: 0.9em;
    color: #555;
}

.timeline-item p {
    margin: 5px 0 0;
}

/* Contact */
.contact-section {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.contact-box {
    background-color: #f0f0f0;  /* box background */
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
}

.contact-box h2 {
    font-size: 2em;
    margin-bottom: 30px;
}

.contact-links a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    font-size: 1.2em;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
}

.contact-links a i {
    font-size: 2em;
    margin-right: 12px;
    color: #007BFF;
}

.contact-links a:hover {
    color: #007BFF;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.about-section{

    padding-left: 20px;
    padding-right: 20px;
    margin-top: 100px;
}

.about-section::before{
    content: "";
    display: block;
    height: 80px;
    margin-top: -80px;
    visibility: hidden;
}
.about-section, .projects-section {
    padding-top: 100px; 
}


.container{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.profile-img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border:4px solid white;

}

.about-text{
    flex: 1;

}

.about-text h1{
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

.about-text p{
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-text h2{
    margin-top: 30px;
    margin-bottom: 15px;
    color: #333;
}

.skill{
    margin-bottom: 20px;
}
.skill span{
    display: block;
    margin-bottom: 5px;
    font-weight: 500;

}

.skill-bar{
    width: 100%;
    background-color: #007BFF;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.skill-level{
    height: 100%;
    width: 0%;
    background: #fffefe;
    border-radius: 10px;
}

@media(max-width:768px){
    .container {
        flex-direction: column;
        align-items: center;
    }

    .profile-img img {
        width: 200px;
        height: 200px;
    }
}


